*{
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(pictures/background.webp);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 150px;
}

.nav-links{
 flex: 1;
 text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content:'';
    width: 0%;
    height: 2px;
    background: #a2c6ba;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
font-size: 62px;
}

.text-box p{
    margin: 10px; 0 40px;
    font-size: 14px;
    color: white;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid white;
    background: #ffb7c5;
    transition: 1s;
}

nav .fa{
    display: none;
}

@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
    display: block;
    }
    .nav-links {
    position: absolute;
    background: #a2c6ba;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200;
    text-align: left;
    z-index: 2;
    transition: 1s;
    }
   nav .fa{
    display: block;
    color: white;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
   } 
   .nav-links ul{
    padding: 30px;
   }
}

/*About*/

.about{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
}
.about-col{
    flex-basis: 31%;
    background: rgb(211, 152, 152);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.about-col:hover{
 box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

/*MENU*/
 .menu{
    width: 80%
    margin: auto;
    text-align: center;
    padding-top: 50px;


 }

.menu-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.menu-col img{
  width: 100%;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(77, 155, 219, 0.7);
}

/*OWNERS*/
.owners{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.owners-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.owners-col img{
    width: 100%;
    border-radius: 10px;
}
.owners-col p{
    padding: 0;
    
}
.owners-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
    text-transform: uppercase;
}

/*CONTACT US*/
.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(82, 206, 189, 0.7),rgba(240, 151, 213, 0.7)),url(pictures/teal.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.cta h1{
    color: black;
    margin-bottom: 40px;
    padding: 0;
}